<div fxLayout="column" fxLayoutAlign="center center">
  <div style="width: 90vw; height: 90vh" style="text-align: center;">
    <div style="width: 90vw; margin-top: 60px;">
      <h1>Благодарим за Ваши ответы!</h1>
      <h2>Хотите ознакомиться с результатами опроса? </h2>
      <h2>Ссылка на результаты будет доступна в течении 7 дней в Viber-группе
      </h2>
      <h3><a class='viber' mat-raised-button [href]="viber_group" (click)="vibrate()">Health
          Lounge</a></h3>
    </div>
  </div>
</div>
