img {
  object-fit: cover;
  height: inherit;
  width: inherit;
  border-radius: 2px;
}

.initial {
  outline: 1px solid white;
  outline-offset: -1px;
  animation: fadeOut 0.1s ease-out;
}

.clicked {
  outline: 7px solid #c40c4f;
  outline-offset: -7px;
  animation: fadeIn 0.1s ease-in;
}
/* animation */
@keyframes fadeIn {
  from {
    opacity: 0.7;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
    outline: 7px solid #c40c4f;
    outline-offset: -7px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.7;
    transform: scale(1);
    outline: 7px solid #c40c4f;
    outline-offset: -7px;
    border-radius: 12px;
  }
  to {
    opacity: 1;
    transform: scale(1);
    border-radius: 12px;
  }
}
