<div *ngIf="question" fxLayout="column" fxLayoutAlign="space-around center" class="question-outer-container">
  <div class="question-inner-container">
    <app-question-counter [currentQuestion]="question.question_id"
      [questionsTotalNumber]="question.questions_total_number"></app-question-counter>

    <mat-card fxLayout="column" fxLayoutAlign="start start">
      <div class="question-header">
        {{question.question_text}}
      </div>
      <mat-card-content class="single-button-content">
        <div fxLayout="column" fxLayoutAlign.xs="space-around start" fxLayoutAlign="space-around center"
          fxLayoutGap="20px">
          <button mat-raised-button class="mat-elevation-z3 button-question" [ngClass]="[answer.answer_clicked_style]"
            [id]="answer.answer_id" *ngFor="let answer of question.question_answers"
            (click)="onClick(answer.answer_id)"><span class="button-text">{{
              answer.answer_text}}</span></button>
        </div>
      </mat-card-content>

      <mat-card-actions align="end" class="card-actions">
        <button mat-raised-button (click)="goBack()" *ngIf="showBackwardButton">НАЗАД</button>
        <button mat-raised-button (click)="onSubmit()">ДАЛЬШЕ</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
