img {
  object-fit: cover;
  height: inherit;
  width: inherit;
  transform: scale(0.93);
  border-radius: 5px;
}

.initial {
  box-shadow: 0 0 0 3pt grey;
}

.clicked {
  box-shadow: 0 0 0 5pt orangered;
  animation: fadeIn 0.33s ease-out;
}
/* animation */
@keyframes fadeIn {
  from {
    /* opacity: 0.8; */
    transform: scale(0.9);
    box-shadow: 0 0 0 3pt grey;
    border-radius: 5px;
  }
  to {
    /* opacity: 1; */
    transform: scale(0.93);
    border-radius: 5px;
    box-shadow: 0 0 0 5pt orangered;
  }
}

.xs-grid {
  width: 90vw;
}

.xl-grid {
  width: 800px;
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    outline: 7px solid #f9100e;
    outline-offset: -7px;
  }
  to {
    transform: scale(1);
  }
}
