<div fxLayout="column" fxLayoutAlign="space-around center" class="card-container">
  <div fxLayout="row" fxLayoutAlign="space-around center" class="counter">
    <div class="m-e-z4">
      <div class="number-circle">{{question.question_id}}</div>
    </div>
    <div class="question-card-font">
      из
    </div>
    <div class="m-e-z4">
      <div class="number-circle">20</div>
    </div>
  </div>
  <mat-card class="question-card mat-elevation-z7">
    <div class="question-header-container">
      <span class="question-card-font">
        {{question.question_text}}
      </span>
    </div>
    <form [formGroup]="answersForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="end start">
          <ng-container *ngFor="let answer of question.question_answers">
            <mat-checkbox class="checkbox-margin" [checked]="answer.answer_boolean_reply"
              [(indeterminate)]="indeterminate" [labelPosition]="labelPosition" [formControlName]="answer.answer_id">
              {{answer.answer_text}}
            </mat-checkbox>
          </ng-container>
        </div>
      </mat-card-content>
    </form>
    <mat-card-actions align="end" class="actions-container">
      <button mat-raised-button (click)="goBack()" *ngIf="showBackwardButton">НАЗАД</button>
      <button mat-raised-button (click)="onSubmit()">ДАЛЬШЕ</button>
    </mat-card-actions>
  </mat-card>
</div>
