.info-snackbar {
  color: whitesmoke;
  background-color: #1f865b;
}

.warning-snackbar {
  color: whitesmoke;
  background-color: #d32d51;
}
.mat-icon-button {
  outline: none;
}
.snackbar {
  width: 100%;
}
.snackbar-font {
  font-size: 16px;
  font-weight: 300;
  color: whitesmoke;
}
