<app-nav-bar></app-nav-bar>
<div class="greetings-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div *ngIf="show">
    <div>
      <h1>Just a monent!</h1>
    </div>
  </div>
  <div *ngIf="!show">
    <button mat-raised-button (click)="startSurvey()">START SURVEY</button>
  </div>
  <!-- <div>
    <iframe [ngClass]="[frame]" [attr.width]="chartWidth" [attr.height]="chartHeight" (load)="loadIframe()"
      src="https://charts.mongodb.com/charts-titan-survey-ktsxy/embed/charts?id=2e2a9d53-d76a-48ff-93c4-6df411810d8d&theme=light"></iframe>
  </div> -->
</div>
