<mat-toolbar class="nav-bar sticky">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%">
    <button mat-raised-button (click)="uploadQuestionnaire()">
      upload Questionnaire
    </button>
    <button mat-raised-button (click)="startQ()">Start Surver</button>
    <button mat-raised-button (click)="goHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-raised-button (click)="getAllUsers()">All Users</button>
    <button mat-raised-button (click)="getAllGroupedUsers()">
      All Grouped Users
    </button>
  </div>
</mat-toolbar>
