<div
  *ngIf="question"
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="question-outer-container"
>
  <div class="question-inner-container">
    <app-question-counter
      [currentQuestion]="question.question_id"
      [questionsTotalNumber]="question.questions_total_number"
    ></app-question-counter>

    <mat-card fxLayout="column" fxLayoutAlign="start start">
      <div class="question-header">
        {{ question.question_text }}
      </div>
      <mat-card-content style="width: 100%">
        <form [formGroup]="answersForm" (ngSubmit)="onSubmit()" id="wishes">
          <div fxLayout="column" fxLayoutAlign="end start">
            <mat-form-field class="text-field">
              <mat-label>Ваши предложения</mat-label>
              <textarea
                matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="13"
                formControlName="wishes"
                (keypress)="supressEnterPropagation($event)"
              ></textarea>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions align="end" class="card-actions">
        <button mat-raised-button (click)="goBack()" *ngIf="showBackwardButton">
          НАЗАД
        </button>
        <button mat-raised-button (click)="onSubmit()">ДАЛЬШЕ</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div>
  <img
    style="width: 100%; height: auto"
    src="assets/images/blank-img.jpg"
    alt="blank-img"
  />
</div>
