<div *ngIf="question" fxLayout="column" fxLayoutAlign="space-around center" class="question-outer-container">
  <div class="question-inner-container">
    <app-question-counter [currentQuestion]="question.question_id"
      [questionsTotalNumber]="question.questions_total_number"></app-question-counter>

    <mat-card fxLayout="column" fxLayoutAlign="start start">
      <div class="question-header">
        {{question.question_text}}
      </div>
      <mat-card-content>
        <form [formGroup]="answersForm" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxLayoutAlign="end start">
            <ng-container *ngFor="let answer of question.question_answers">
              <mat-checkbox class="checkbox" [checked]="answer.answer_boolean_reply" [labelPosition]="labelPosition"
                [formControlName]="answer.answer_id">
                {{answer.answer_text}}
              </mat-checkbox>
            </ng-container>
          </div>
        </form>
      </mat-card-content>

      <mat-card-actions align="end" class="card-actions">
        <button mat-raised-button (click)="goBack()" *ngIf="showBackwardButton">НАЗАД</button>
        <button mat-raised-button (click)="onSubmit()">ДАЛЬШЕ</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
