/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.info-snackbar {
  color: whitesmoke;
  background-color: #1f865b;
}

.warning-snackbar {
  color: whitesmoke;
  background-color: #e6385e;
}

/* NEW STYLES - SMALL SCREENS */
@media screen and (max-width: 499px) {
  .app-container {
    padding-top: 15px;
  }

  .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  }
  .question-outer-container {
    width: 100vw;
    height: auto;
  }
  .question-inner-container {
    width: 97vw;
  }
  .counter {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 300;
  }

  .question-header {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: left;
  }

  .card-actions {
    width: 100%;
    margin-top: 10px;
  }
  .text-field {
    width: 100%;
    font-size: 16px;
  }

  .button-question {
    width: 85vw !important;
    text-align: left !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
  }

  .checkbox {
    margin-left: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  .radio-vert-group {
    display: flex;
    flex-direction: column;
    margin-left: 30px !important;
  }
  .radio-vert-element {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .stars-container {
    width: 90vw !important;
  }
  .greetings-inner-container {
    width: 90vw;
    height: 90vh;
    text-align: center;
  }
  .greetings-message {
    width: 90vw;
    margin-top: 40px;
  }
}

/* FOR IPHONE S5 */
@media screen and (max-width: 320px) {
  .button-question {
    width: 85vw !important;
    text-align: left !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
  }
}
/* NEW STYLES - LARGE SCREENS */
@media screen and (min-width: 500px) {
  .app-container {
    padding-top: 20px;
  }

  /* .mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: none;
  } */

  .question-outer-container {
    min-width: 400px;
    height: auto;
  }
  .question-inner-container {
    width: 850px;
  }
  .counter {
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 26px;
    font-weight: 300;
  }

  .question-header {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
    text-align: left;
  }

  .card-actions {
    width: 100%;
    margin-top: 10px;
  }
  .text-field {
    width: 100%;
    font-size: 16px;
  }

  .button-question {
    width: 600px !important;
    text-align: left !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    padding-bottom: 6px !important;
    padding-top: 6px !important;
  }

  .checkbox {
    margin-left: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 18px !important;
    font-weight: 300 !important;
  }

  .radio-vert-group {
    display: flex;
    flex-direction: column;
    margin-left: 30px !important;
  }
  .radio-vert-element {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px !important;
    font-weight: 300 !important;
  }
  .stars-container {
    width: 100% !important;
  }
  .single-button-content {
    width: 100%;
  }
  .content-container {
    width: 100%;
  }

  .greetings-container {
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    animation: fadeIn 0.5s ease-in;
  }
  .greetings-inner-container {
    width: 90vw;
    height: 90vh;
    text-align: center;
  }
  .greetings-message {
    width: 50vw;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px !important;
  padding-bottom: 0 !important;
}
.button-text {
  font-weight: 300;
}
