<button mat-raised-button (click)="startQ()" style="margin-top: 90px;">Start Surver</button>
<router-outlet></router-outlet>
<!-- <ng-container *ngFor="let question of questions">
  <!-- <ng-container *ngIf="question.type === 'multiple'">
    <app-multiple-answer-card [question]="question"></app-multiple-answer-card>
  </ng-container> -->
<!-- <ng-container *ngIf="question.type === 'single'">
    <app-single-answer-card [question]="question"></app-single-answer-card>
  </ng-container>
</ng-container> -->
